.userList {
  flex: 4;
  /* box-shadow: 0 0 15px -10px rgba(0, 0, 0, .75); */
}

.userList-user {
  display: flex;
  align-items: center;
}

.userList-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.useList-action {
  display: flex;
  align-items: center;
}

.userList-edit-user {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: #3bb077;
  margin-right: 10px;
  cursor: pointer;
}

.userList-delete-user {
  color: red;
  cursor: pointer;
}
